.GearMain {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  margin-top: 6rem;
  align-items: center;
  margin-bottom: 8rem;
}
.GearMain > img {
  border-radius: 0 1rem 1rem 0;
  width: 48%;
}
.Geartext {
  padding: 0;
  width: 48%;
}
.Geartext > h1 {
  font-size: 2.6rem;
  margin-bottom: 3rem;
}
.Home {
  width: 80%;
}
.Geartext > p {
  line-height: 1.5rem;
  color: #191919;
}

@media only screen and (max-width: 768px) {
  .GearMain {
    flex-direction: column-reverse;
  }

  .GearMain > img {
    border-radius: 1rem;
    width: 100%;
  }
  .Geartext > h1 {
    font-size: 28px;
    margin: 1rem 0;
  }
  .Geartext {
    margin-top: 2rem;
    padding: 0;
    width: 100%;
    text-align: center;
  }
}
@media only screen and (max-width: 768px) {
  .FooterList > ul > a {
    font-size: 14.5px;
  }
}
@media only screen and (max-width: 425px) {
  .Home {
    width: 90%;
  }
}
.Footer_Container {
  background-color: #191919;
  font-family: "Poppins", sans-serif;
  margin-top: 3rem;
  padding: 0 3rem;
}
.FooterList {
  color: white;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
}
.FooterList > ul > a {
  padding-right: 2rem;
}
.Footer_Container > p {
  color: #ffffff80;
  line-height: 1.5rem;
  margin-bottom: 2rem;
}
.FooterCopy {
  display: flex;
  margin: auto;
  justify-content: space-between;
  color: #ffffff80;
}
.FooterIcons {
  padding-right: 1rem;
  padding-bottom: 3rem;
}
@media only screen and (max-width: 600px) {
  .FooterList {
    flex-direction: column;
  }
  .FooterList > img {
    align-self: center;
    margin-bottom: 2rem;
  }
  .FooterList > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .FooterList > ul > a {
    padding: 0.5rem 0;
  }
  .Footer_Container > p {
    text-align: center;
  }
  .FooterCopy {
    flex-direction: column;
    align-items: center;
  }
  .FooterCopy > p {
    margin: 2rem 0;
    text-align: center;
  }
}
