.ProductHeader {
  width: 100%;
  background-color: #191919;
  text-align: center;
  font-family: sans-serif;
  overflow: hidden;
}
.ProductHeader > h1 {
  color: white;
  font-size: 3rem;
  padding: 6rem 0;
}
@media only screen and (max-width: 425px) {
  .ProductHeader > h1 {
    padding: 3rem 0;
    font-size: 1.8rem;
  }
}
.ProductMain {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0 3rem;
  gap: 8rem;
  align-items: center;

  margin-top: 6rem;
}

.ProductText > * {
  margin-top: 2rem;
}
.productp1 {
  letter-spacing: 0.7rem;
  color: #d87d4a;
}
.productp2 {
  line-height: 1.5rem;
}
@media only screen and (max-width: 768px) {
  .ProductMain {
    grid-template-columns: 1fr; /* Single column by default for mobile */
    gap: 2rem;
    margin: auto;
    text-align: center;
    margin-top: 6rem;
    max-width: 1200px; /* Optional: Set a max-width for larger screens */
    padding: 0 1rem; /* Add padding for smaller screens */
  }
  .Picture {
    width: 100%;
  }
  .ProductImg {
    width: 100%;
  }
  .ProductText {
    width: 100%;
    padding: 2rem;
    text-align: center;
  }
}
